
body {
  text-align: center;
}

h2 {
  margin-top: 25%;
}

h2, p {
  font-family: 'Comfortaa', cursive;
  color: grey;
}

.form-control {
  width: 20% !important;
  border: none !important;
  display: inline !important;
}
